* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  width: 100%;
  height: 50px;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.brand-container img {
  width: 40px;
  border-radius: 5px;
}

.ul-navbar {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.a-li {
  text-decoration: none;
}

.li-navbar:hover {
  background-color: rgb(96, 96, 96);
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

.navbar-search {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: auto;
}

.profile-container {
  height: 250px;
  width: 70%;
  margin: 15px;
  border-radius: 5px;
}

.short-profile-container {
  margin: 10px;
}

.title {
  letter-spacing: 4px;
  font-size: 13;
}

.title h2 span {
  font-size: 25px;
}

.short-profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 15px;
  text-align: justify;
}

.profile-picture {
  width: 182;
  border-radius: 100px;
  margin: 5px;
}

.text-basabasi {
  margin: 5px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #333;
}

.h1-footer {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

/* SKILLS CONTAINER */

.myskills-container {
  width: 80%;
  margin-top: 10px;
  display: flex;
}

/* SKILLS START */

.my-skills {
  margin-top: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SKILLS END */

/* TOOLS START */

.tools-skill {
  margin-top: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.tools-skill .title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  height: 220px;
}

.tools-ico {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.tools-ico img {
  width: 50px;
}

/* TOOLS END */

.list-skills {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.html-skills,
.javascript-skills,
.css-skills {
  margin: 9px;
}

.img-card-skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  width: 150px;
  height: 200px;
}

.img-card-skills img {
  width: 150px;
}

.skill-bar {
  margin: 10px;
  width: 100%;
  background-color: #ddd;
  border-radius: 4px;
}

.skill-bar p {
  padding: 2px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  text-align: right;
}

.html-bar {
  width: 90%;
  background-color: rgb(229, 46, 14);
}

.css-bar {
  width: 85%;
  background-color: rgb(67, 41, 200);
}

.javascript-bar {
  width: 50%;
  background-color: rgb(208, 159, 14);
}

.html-bar:hover {
  transition: 0.3s;
  width: 90%;
  background-color: rgb(226, 71, 43);
}

.css-bar:hover {
  transition: 0.3s;
  width: 85%;
  background-color: rgb(81, 56, 207);
}

.javascript-bar:hover {
  transition: 0.3s;
  width: 50%;
  background-color: rgb(208, 167, 43);
}

/* SKILLS END */

/* TOOLS START */



/* TOOLS END */

/* END OF SKILLS CONTAINER */

.whyme-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
}

.whyme-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;
}

.whyme-content-container {
  width: 100%;
  height: 100%;
}

.whyme-pic-container img {
  width: 500px;
}

.whyme-title-content {
  margin: 10px;
  height: 30px;
  text-align: center;
}

.whyme-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 372px;
}

.whyme-item-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 280px;
  margin: 10px;
}

.whyme-item-container p {
  margin-top: 6px;
  text-align: center;
}

.whyme-img {
  height: 210px;
  display: flex;
  align-items: center;
}

.whyme-img img {
  width: 200px;
}